@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

.container {
  max-width: 1400px;
}
.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*navbar*/

nav {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 95px;
  background: rgb(252 248 250);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar {
  height: 100%;
  /*  max-width: 1250px;*/
  /*  width: 100%;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  /*  padding: 0 50px;*/
}
.navbar .logo a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links {
  line-height: 70px;
  margin: auto;
  height: 100%;
  /*	    width: 60%;*/
}
nav .navbar .links {
  display: flex;
  margin-top: 12px;
}
nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #000;
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #000;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}
.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar .links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu {
  /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}
.navbar .search-box {
  position: relative;
  height: 40px;
  /*  width: 40px;*/
}
.navbar .search-box i {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box {
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #3e8da8;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box {
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #3e8da8;
}
.search-box .input-box::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: #3e8da8;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo {
  display: none;
}
.navbar .bx-menu {
  display: none;
}
@media (max-width: 920px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a {
    font-size: 27px;
  }
  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a {
    font-size: 15px;
  }
}
@media (max-width: 1112px) {
  nav {
    /* position: relative; */
  }
  .navbar .bx-menu {
    display: block;
  }
  .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: #fff;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name {
    font-size: 25px;
    color: #fff;
  }
  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 25px;
    color: #000;
  }
  nav .navbar .links {
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow {
    line-height: 40px;
  }
  nav .navbar .links li {
    display: block;
  }
  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li {
    border-bottom: none;
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }
  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }
  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }
  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }
}
@media (max-width: 370px) {
  nav .navbar .nav-links {
    max-width: 100%;
  }
}

.nowidth {
  display: flex;
  gap: 30px;
}
.nowidth {
  /*    background-color: red;*/
  width: 29%;
  background-image: url("Rectangle-4.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 40px;
  justify-content: flex-end;
  align-content: center;
}

.fab {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}

.fa-facebook-f:before {
  content: "\f39e";
}

.bxs-chevron-down:before {
  content: "\ec89";
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-top: 3px solid;
  border-right: 1px solid;
  font-size: 7px;
  position: relative;
  bottom: 3px;
  padding: 0.5px 1.5px;
}
.bxs-chevron-down:before {
  content: "\ec89";
  padding: 0.4px 1px;
  border-radius: 2px;
}

.logo {
  width: fit-content;
  padding: 32px;
}

.btn-nav {
  border: 1px solid rgb(252 248 250);
  color: #fcf8fa;
  padding: 8px 27px;
  border-radius: 27px;
  background-color: transparent;
}

ul.soc-2 li {
  display: inline-block;
  padding: 8px;
}
.slider {
  width: 100%;
  background-image: url("Rectangle 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}
.logo {
  width: 20%;
  /* height: 100%; */
}
.logo img {
  width: 100%;
  object-fit: cover;
}
ul.soc-2 {
  width: 20%;
  height: 100%;
  align-items: center;
  display: flex;
}
ul.soc-2 {
  background-image: url("Rectangle 4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 25%;
}

ul.soc-2 {
  padding-left: 120px;
}
.second {
  background-image: url("Rectangle 6.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 520px;
  height: 280px;
  margin-top: -340px;
  margin-left: 70px;
  z-index: 1;
  position: absolute;
  padding: 40px 15px 70px 30px;
}
.slider-section img {
  margin-top: 150px;
  margin-left: 25px;
  width: 215px;
  height: 385px;
}
.second strong {
  letter-spacing: 6.6px;
  color: #de0023;
}
.second h1 {
  font-size: 36px;
}
.second p {
  font-size: 26px;
}
button {
  padding: 12px;

  border-radius: 25px;
  background: #df0024;
  color: white;
  border: none;
}
section.aboutus {
  padding: 60px 20px 60px;
}
.about-heading h2 {
  font-size: 34px;
  text-align: center;
}
.row {
  display: flex;
}
.au h2 {
  padding: 10px;
  margin-top: 60px;
  text-align: left;
}
.au p {
  padding: 15px;
  text-align: justify;
}
.col-lg-6 {
  width: 50%;
}

.aboutus {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.abt {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.au {
  padding: 20px;
  /* width: 50%; */
  position: relative;
}
.we img {
  width: 465px;
  object-fit: cover;
  margin-left: 95px;
}
.we {
  /* width: 50%; */
  position: relative;
}

.we::before {
  background-image: url("boiler-tubes-2014904834-rszww1200-90 2.png");
  top: 40x;
  /* right: 343px; */
  position: absolute;
  left: -150px;
  content: "";
  height: 135px;
  width: 318px;
  background-size: cover;
  background-repeat: no-repeat;
  /* position: fixed; */
}
.au::after {
  background-image: url("boiler-tubes-2014904834-rszww1200-90 3.png");
  top: -84px;
  /* right: 343px; */
  position: absolute;
  left: 75%;
  content: "";
  height: 271px;
  width: 184px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

span {
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;

  color: #df0024;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 3px;
  letter-spacing: 0.033em;
  text-align: left;
}

.prod {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 25px;
}
.sub-prod {
  /* border: 1px solid; */
  border-radius: 25px;
  position: relative;
  box-shadow: 5px 5px 5px 5px #80808047;
  width: 100%;
  background: white;
}

/* .about-heading.pro::before {
  background-image: url("Line 13.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 100px;
  top: 211%;
  height: 5px;
  right: 648px;
  position: absolute;
}
.about-heading.pro::after {
  background-image: url("Line 13.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 100px;
  top: 219%;
  height: 5px;
  right: 648px;
  position: absolute;
} */

.about-heading {
  padding-top: 60px;
  /* padding-bottom: 60px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.us-about {
  width: 100%;
  height: 470px;
}

.sub-prod img {
  width: 100%;
  object-fit: cover;
}

.about-heading.pro {
  padding-top: 120px;
  padding-bottom: 60px;
}

.choose {
  padding: 60px 20px 60px;
}
section.chooseus {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wcu {
  display: flex;
  /* background: antiquewhite; */
  padding: 15px;
  /* width: 91%; */
  background: antiquewhite;
  border-radius: 10px;
}
.fgh {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: #eeeeee59;
}

.us {
  /* display: flex; */
  gap: 20px;
  flex-basis: 25%;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.us img {
  box-shadow: 5px 5px 5px 5px #8080806e;
  padding: 20px;
  border-radius: 10px;
  height: 130px;
}

img.rt {
  width: 136px;
  height: 100px;
  transform: translate(336px, -22px) !important;
  position: static;
  z-index: -1;
  /* transform: translateY(10px); */
}
img.hjk {
  width: 135px;
  height: 100px;
  transform: translate(-335px, 260px);
  position: static;
  z-index: -1;
}

.hjk img {
  display: flex;
}
img.uk {
  width: 100px;
  margin-top: 40px;
}
img.nm {
  width: 45px;
  margin-top: 50px;
}
.images1 {
  display: flex;
  /* gap: 20px;
  /* transform: rotate(317deg); */
  /* margin-bottom: 100px; */
  position: relative;
  /* bottom: -77px;
  left: 133px; */
}
.images2 {
  display: flex;
  /* gap: 20px;
  /* transform: rotate(317deg); */
  /* margin-bottom: 100px; */
  position: relative;
  /* bottom: -154px;
  left: 3px; */
}
.bnm {
  height: 80%;
  /* display: inline-block; */

  /* align-items: center; */
  animation: mymove 5s;
  animation-iteration-count: inherit;
  animation-timing-function: linear;
  /* justify-content: center; */
  flex-wrap: wrap;
  width: 100%;
  transform: rotate(45deg);
}
p.dfg {
  margin-top: 65px;
  text-align: center;
}

.image-left {
  margin: 5px;
  /* border-radius: 8px; */
  box-shadow: 5px 5px 5px #b4b3b3;
  background: #cfd0ff;
}
.image-right {
  margin: 5px;
  /* border-radius: 8px; */
  box-shadow: 5px 5px 5px #b4b3b3;
  background: #d7eaff;
}
.images1 div {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.images1 div p {
  transform: rotate(315deg);
  text-align: center;
  font-size: 14px;
}
.images2 div p {
  transform: rotate(315deg);
  text-align: center;
  font-size: 14px;
}

.images2 div {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-top {
  margin: 5px;
  /* border-radius: 8px; */
  box-shadow: 5px 5px 5px #b4b3b3;
  background: #fff5e0;
}
.image-bottom {
  padding: 38px;
  margin: 5px;
  /* border-radius: 8px; */
  box-shadow: 5px 5px 5px #b4b3b3;
  background: #ffd9eb;
}

.image-left p {
  transform: rotate(315deg);
}
.image-bottom p {
  transform: rotate(315deg);
}
.image-right p {
  transform: rotate(315deg);
}
.image-top p {
  transform: rotate(315deg);
}

.materialapp {
  /* margin-top: 140px; */
  padding: 0px;
  gap: 95px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* .hjkl {
  height: 100%;
  width: 20%;
  padding-top: 90px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
.application {
  /* padding-top: 60px; */
  margin-bottom: 60px;
  width: 100% !important;
  height: auto;
  position: relative;
  height: 100%;
}

ul.soc-2 button {
  font-size: 12px;
  margin-left: -41px;
  border: 1px solid;
  padding: 5px 10px;
}
@keyframes mymove {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.demotimg {
  position: absolute;
  left: 162px;
  top: -23px;
  z-index: -500;
}

.demobimg {
  position: absolute;
  left: -35px;
  top: 184px;
  z-index: -500;
}
.backimage {
  /* width: 23%; */
  height: 100%;
  position: relative;
}

.about-heading.secs {
  /* padding-top: 100px; */
  padding-bottom: 60px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 60px 20px 0px 60px;
  height: 70vh;
}
.rightpath {
  display: flex;
  gap: 50%;
  justify-content: center;
  width: 100%;
}
.rightpath img {
  width: 20%;
  object-fit: contain;
}

.path {
  width: 100%;
  height: 90vh;
}
.allcountry {
  position: relative;
  height: 100%;
  width: 100%;
}
/* .centerimg {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.centerimg {
  width: 100%;
  height: 100%;
  background-image: url("Vector-4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  margin-left: 10%;
  align-items: center;

  justify-content: center;
  position: relative;
}
.canada img {
  line-break: anywhere;
  height: 31px;
  object-fit: contain;
}
.canada {
  width: 19px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.add {
  background-image: url("Subtract.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
}
.country {
  display: flex;
  /* float: left; */
  position: absolute;
  left: 60%;
  /* top: 45%; */
  gap: 5px;
}

.country1 {
  display: flex;
  position: absolute;
  /* float: left; */
  top: 25%;
  left: 25%;
  gap: 5px;
}
.country2 {
  display: flex;
  position: absolute;
  left: 10%;
  gap: 5px;
}

.add p {
  text-align: center;
  font-size: 14px;
  padding: 10px;
}
.clientlogo img {
  margin-top: 20px;
  /* width: 15%; */
  object-fit: cover;
}
.clientlogo :nth-last-child(2) {
  margin-top: 20px;
  /* width: 50%; */
  object-fit: cover;
}
.clientlogo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clientlogoss {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clientreview {
  display: flex !important;
  /* gap: 90px; */
  width: 100%;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.clientreviews {
  display: flex !important;
  /* gap: 90px; */
  width: 100%;
  /* flex-wrap: wrap; */
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  padding-top: 20px;
}
.details {
  background-image: url("Clip path group-15.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40%;
  height: 100%;
}
.detailsright {
  width: 50%;
  height: 100%;
  margin-top: -100px;
}

.cont {
  right: 90px;
  top: 52px;
  position: absolute;
}
.contact {
  padding: 60px 20px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* .detailsright {
  width: 50%;
} */
.detail h2 {
  font-size: 54px;
  margin-top: 150px;
}

input.form-control,
textarea.form-control {
  width: 100%;
  /* border: 1px solid #00a859; */
  margin-bottom: 20px;
  /* background: #c6ffe3; */
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* textarea.form-control {
  height: 70px !important;
} */

.fa-user:before {
  padding: 10px;
}
.fa-envelope:before {
  padding: 10px;
}
.fa-edit:before,
.fa-pen-to-square:before {
  padding: 10px;
}

input.form-control,
textarea.form-control {
  width: 100%;
  border: none;
  margin-top: 20px;
  background: antiquewhite;
  /* height: 42px; */
}

.form {
  /* display: inline-block; */
  width: 40%;
  gap: 245px;
}
.detailsright button {
  width: 100%;
  margin-top: 30px;
}

.happyclient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 60px 20px 0px 60px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.boxclient {
  width: 30%;
  height: 300px;
  background-image: url("Group 628.png");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateX(182px);
  /* overflow: hidden !important; */
  z-index: -1;
}

.clients-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 40%;
  gap: 31px;
  margin: 10px;
  transform: translateX(290px);
  /* position: relative; */
}
.clients-list {
  width: 100px;
  height: 110px;
  background-color: #fff;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.15);
  /* margin: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.clients-list img {
  width: 65px;
  position: absolute;
}

.leftdiv {
  width: 30%;
}

.leftsolution {
  width: 15%;
}
.centersolution {
  width: 30%;
}
.rightsolution {
  width: 15%;
}
.linearparaleft {
  width: 15%;
}
.linearpararight {
  width: 15%;
  height: auto;
}

.solution {
  padding: 60px 20px 60px;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.linearparaleft img {
  width: 120%;
  object-fit: contain;
  display: flex;
  align-self: auto;
}
.linearpararight img {
  width: 120%;
  object-fit: contain;
  display: flex;
  align-self: auto;
}

.para {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: center;
}
.industry {
  display: flex;
  justify-content: center;
}
.centersolution {
  background-color: #3e8da8;
  border-radius: 50%;
  height: 340px;
}
.dfcd {
  background-image: url("Ellipse 24.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* text-align: center; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 352px;
  z-index: 1;
}
.elipse {
  display: flex;
  align-items: center;
  justify-content: center;
}
.para img {
  width: 75px;
  height: 60px;
}

.parentpara {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 15%;
}
.linearparaleft {
  width: 15%;
  height: auto;
}
.childpara {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 15%;
}

.contactus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: antiquewhite;
  border-radius: 15px;
  padding: 40px;
  box-shadow: 15px 15px #e5ceaf;
}
.inquery {
  padding: 60px 60px 60px 60px;
}

.allfooter {
  padding: 60px 30px 60px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addressf {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
}
.addressf {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  margin-top: 4px;
}

.vb img {
  padding: 15px;
}
.leftfooter {
  width: 30%;
}
.centerfooter {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rightfooter {
  width: 30%;
}
.addressf p {
  font-size: 14px;
}
.rf p {
  font-size: 14px;
}
.ct p {
  font-size: 14px;
}
.rf {
  display: flex;
  align-items: center;
  gap: 7px;
}
.cf img {
  width: 60px;
  height: 100%;
  gap: 13px;
  display: inline-flex;
}
.rf {
  display: flex;
  align-items: center;
  gap: 7px;
}
.countries {
  display: flex;
  gap: 12px;
  align-items: center;
  width: -7px;
  padding-top: 20%;
  flex-wrap: wrap;
}

.ct {
  display: flex;
  align-items: center;
  width: 30%;
  gap: 5px;
}

.ct img {
  width: 20px;
  height: 17px;
}

.para p {
  font-size: 10px;
}

.copy {
  padding: 40px 20px 40px 20px;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  width: 100%;
}

.main-header {
  width: 100%;
  /* height: 100%; */
}
img.bb {
  width: 20%;
}
.cf {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.rdf {
  display: flex;
  /* width: 100%; */
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

img.you {
  float: right;
  width: 70%;
}

.vbn {
  /* flex-direction: column; */
  display: flex;
  /* flex-direction: column; */
  /* width: 100%; */
  gap: 160px;
  padding-bottom: 20px;
}

.bss {
  display: flex;
  height: 40px;
  background: antiquewhite;
  /* margin-top: 3px; */
  align-items: center;
  border-radius: 10px;
  /* margin-right: 5px; */
}

.fisrtline {
  position: absolute;
  top: 6px;
  display: inline-block;
}
.abstract {
  width: 100%;
  height: auto;
  position: relative;
}
.para.er {
  margin-top: -50px;
}

.linearparaleft.er {
  transform: rotate(180deg);
}

.vaishaclass {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 40px 60px 40px;
}
.sec-right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -135px;
}
.sec-right1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -135px;
}
.sec-right2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}
.sec-right3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 69px;
}
.sec-right4 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}

.vaishleft {
  width: 35%;
}
.vaishcenter {
  width: 30%;
  background: #fde3bd;
  border-radius: 50%;
  height: 375px;
  z-index: 1;
}
.vaishright {
  width: 35%;
}
.sec-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-right {
  position: relative;
}
.div-right1 {
  position: relative;
  margin-top: -65px;
}
.div-right2 {
  position: relative;
  margin-top: -33px;
}
.div-right3 {
  position: relative;
  margin-top: -15px;
}
.div-right4 {
  position: relative;
  margin-top: -100px;
}
.right1 {
  position: absolute;
  top: 8px;
  /* width: 168%; */
}
.right4 {
  position: absolute;
  top: -8px;
}
.right6 {
  position: absolute;
  top: 8px;
}
.right8 {
  position: absolute;
  top: 8px;
}
.right10 {
  position: absolute;
  top: -8px;
}
.right1 img {
  width: 330px;
}
.right2 img {
  width: 330px;
}
.right3 img {
  width: 330px;
}
.right4 img {
  width: 330px;
}
.right5 img {
  width: 330px;
}
.right6 img {
  width: 330px;
}
.right7 img {
  width: 330px;
}
.right8 img {
  width: 330px;
}
.right9 img {
  width: 330px;
}
.right10 img {
  width: 330px;
}

.sec-right p {
  font-size: 12px;
}
.sec-right1 p {
  font-size: 12px;
}
.sec-right2 p {
  font-size: 12px;
}
.sec-right3 p {
  font-size: 12px;
}
.sec-right4 p {
  font-size: 12px;
}

.sec-center {
  background-image: url("Ellipse 24.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* text-align: center; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  margin-top: 40px;
}

.finally {
  margin-right: -15px;
}
.finallydone {
  margin-left: -15px;
}

.contact-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* margin-left: -157px; */
}
.email-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* margin-left: -78px; */
}
.nm {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.rf img {
  width: 10px;
}
.client {
  width: 100%;
  height: auto;
}

.phonesection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  flex-wrap: wrap;
  gap: 10px;
  display: none;
}
/* .mvsw img {
  transform: rotate(316deg);
}
.mvsw p {
  transform: rotate(316deg);
} */
.mvs {
  background: #ffd9eb;
  padding: 13px;
  /* transform: rotate(45deg); */
  /* width: 15%; */
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  flex-basis: 25%;
  margin-bottom: 15px;
}
.mvs1 {
  background: #fff5e0;
  padding: 13px;
  /* width: 15%; */
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  flex-basis: 25%;
  margin-bottom: 15px;
}
.mvs2 {
  background: #cfd0ff;
  padding: 13px;
  /* width: 15%; */
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  flex-basis: 25%;
  margin-bottom: 15px;
}
.mvs3 {
  background: aquamarine;
  padding: 13px;
  /* width: 15%; */
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  flex-basis: 25%;
  margin-bottom: 15px;
}
.mvs4 {
  background: #d7eaff;
  padding: 13px;
  /* width: 15%; */
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  flex-basis: 25%;
  margin-bottom: 15px;
}

.mvsw {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.mvsw img {
  width: 90px;
  height: 60px;
}

.phone.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* flex-basis: 4%; */
}

.vaishdemo {
  width: 100%;
}
.footer.container {
  background-image: url(Rectangle%201381.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
